
h1{
    text-align: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: 550px;
    margin-top: 75px;
    height: 700px;
    width: 700px;
    border: 5px solid black;
}

.square{
    
    border: 4px solid green;
}
